# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# Generated output files (re-created by running the point-generation scripts)
python/point_generation/coordinates_arm_*mm_plane_normal.txt
python/point_generation/coordinates_arm_*mm_sphere.txt
